html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

body {
  margin: 0;
	background-color: #26282E;
	color: #fff;
  font-family: 'Lobster', sans-serif;
  font-size: 28px;
}

h1 {
  font-size: 64px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 5px;
  margin-top: 20px;
  margin-bottom: 0px;
}

#menu {
  margin-top: 30px;
  margin-left: 40px;
}

#footer {
  position: fixed;
  bottom: 0;
  font-size: 15px;
  color: #45c5ef;
  text-align: center;
  background-color: #26282E;
  height: 30px;
  width: 100%;
  border-top: 4px solid #fff;
}

.opcja {
  float: left;
  border-right: 3px solid #fff;
  padding: 10px;
  min-width: 100px;
}

.opcja:hover {
  background-color: #525766;
}

.text {
  text-align: justify;
  font-size: 24px;
  letter-spacing: 2px;
  margin-left: 50px;
  margin-top: 50px;
}
